<ion-header [translucent]="true">
   <app-explore-container></app-explore-container>
</ion-header>

<ion-content [fullscreen]="true">

 <ion-card class="card">
        <ion-card-header>

            <ion-card-title>
                <h1> Приклад 3. FormGroup</h1>

            </ion-card-title>

        </ion-card-header>
        <ion-card-content>
          <app-profile-editor></app-profile-editor>
        </ion-card-content>
  </ion-card>
   <ion-card class="card">
        <ion-card-header>

            <ion-card-title>
                <h1> Приклад 4. FormBuilder</h1>

            </ion-card-title>

        </ion-card-header>
        <ion-card-content>
          <app-user-editor></app-user-editor>
        </ion-card-content>
  </ion-card>
 
</ion-content>
